<ng-container *ngIf="popularMoviesList">
  <section class="popular-movies--container">
    <mat-card class="popular-movies--movie-card popular-movies-card-caption" *ngFor="let movie of popularMoviesList">
      <h2 class="popular-movies--movie-title">{{ movie.title }}</h2>
      <div class="popular-movies--sub-container">
        <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" class="popular-movies--movie-image">
        <div class="popular-movies--sub-container-infos">
          <div class="popular-movies--release-date-and-rating-container">
            {{ movie.release_date | date:'d MMMM y' }}
            <div class="popular-movies--rating-container">
              <mat-progress-spinner diameter="40"
                                    [ngClass]="{
                                    'isUnder5': (movie.vote_average < 5),
                                    'isBetween5and8': (movie.vote_average >=5 && movie.vote_average < 8),
                                    'isOver8': (movie.vote_average >= 8) }"
                                    [value]="(movie.vote_average)*10"
              ></mat-progress-spinner>
              <div class="popular-movies--rating-number">{{ movie.vote_average }}</div>
            </div>
          </div>
          <p class="popular-movies--resume-title">
            Résumé :
          </p>
          <p class="popular-movies--resume">
            {{ movie.overview }}
          </p>
        </div>
        <button class="popular-movies--mobile-button" mat-raised-button color="accent" (click)="clickOnMovie(movie)">VOIR EN DETAIL</button>
      </div>

      <div class="popular-movies--caption">
        <p class="popular-movies--caption-see-detail">Plus d'informations</p>
        <button mat-raised-button color="accent" (click)="clickOnMovie(movie)">VOIR</button>
      </div>
    </mat-card>
  </section>
</ng-container>
