<mat-toolbar class="main-app--toolbar">
  <button mat-icon-button class="main-app--burger-button" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button class="main-app--logos-container" routerLink="/home">
    <img class="main-app--movie-logo" src="../assets/icons/ic-popcorn.svg" [alt]="'icon-popcorn'"/>
    <span class="main-app--movie-logo-title">Mon PopCorn</span>
  </button>
  <nav class="main-app--navigation-container">
    <button mat-button class="main-app--navigation-button" routerLink="/popular" routerLinkActive="main-app--navigation-link">POPULAIRES</button>
    <button mat-button class="main-app--navigation-button" routerLink="/now_playing" routerLinkActive="main-app--navigation-link">EN SALLE</button>
    <button mat-button class="main-app--navigation-button" routerLink="/upcoming" routerLinkActive="main-app--navigation-link">À VENIR</button>
    <button mat-button class="main-app--navigation-button" routerLink="/top_rated" routerLinkActive="main-app--navigation-link">MIEUX NOTÉ</button>
  </nav>
</mat-toolbar>
<mat-sidenav-container class="main-app--sidenav-container">
  <mat-sidenav #snav mode="over" fixedInViewport="true" fixedTopGap="56" class="main-app--sidenav">
    <button mat-raised-button class="main-app--navigation-button-mobile" id="stop-cdk-nav" routerLink="/popular" color="accent" routerLinkActive="main-app--navigation-link-mobile"><a>FILMS POPULAIRES</a></button>
    <button mat-raised-button class="main-app--navigation-button-mobile" routerLink="/now_playing" color="accent" routerLinkActive="main-app--navigation-link-mobile"><a>EN SALLE</a></button>
    <button mat-raised-button class="main-app--navigation-button-mobile" routerLink="/upcoming" color="accent" routerLinkActive="main-app--navigation-link-mobile"><a>À VENIR</a></button>
    <button mat-raised-button class="main-app--navigation-button-mobile" routerLink="/top_rated" color="accent" routerLinkActive="main-app--navigation-link-mobile"><a>MIEUX NOTÉ</a></button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-app--container">
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <button mat-mini-fab color="accent" id="goTop"><mat-icon>arrow_upward</mat-icon></button>
  </mat-sidenav-content>
</mat-sidenav-container>
