.toprated-movies--spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
}

.toprated-movies--container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

::ng-deep .mat-tooltip-panel { // Override Tooltip in paginator
  display: none;
}

.toprated-movies--paginator {
  background-color: transparent;
  color: #ffffff;

  ::ng-deep .mat-paginator-container {
    justify-content: center;

    .mat-paginator-range-label {
      margin: 0 20px 0 10px;
    }
  }
}

.toprated-movies--paginator ::ng-deep .mat-icon-button[disabled][disabled] {
  color: #333333;
}

.toprated-movies--movie-card {
  width: 483px;
  margin: 15px 30px;
}

.toprated-movies--movie-title {
  font-size: 24px
}

.toprated-movies--sub-container {
  display: flex;
  align-items: center;
}

.toprated-movies--movie-image {
  width: 185px;
  height: 278px;
  border-radius: 10px;
}


.toprated-movies--sub-container-infos {
  width: 298px;
  height: 298px;
  position: relative;
  padding: 0 16px;
  overflow: hidden;
}

.toprated-movies--release-date-and-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.toprated-movies--rating-container {
  display: flex;
  justify-content: center;

  &::ng-deep .mat-progress-spinner.isUnder5 circle {
    stroke: #FF5252;
  }

  &::ng-deep .mat-progress-spinner.isBetween5and7 circle {
    stroke: #FF9800;
  }

  &::ng-deep .mat-progress-spinner.isBetween7and8 circle {
    stroke: #fffc4e;
  }

  &::ng-deep .mat-progress-spinner.isOver8 circle {
    stroke: #34af41;
  }
}

.toprated-movies--rating-number {
  width: 23px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 11px;
  right: 8px;
}

.toprated-movies--resume-title {
  margin-bottom: 5px;
  font-weight: bold;
}

.toprated-movies--resume {
  color: #c1c1c1;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 14.9em;
  font-size: 14px;
  margin-right: -1em;
  padding-right: 1em;
}

.toprated-movies--resume:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.toprated-movies--resume:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #151515;
}


.toprated-movies-card-caption {
  position: relative;
  overflow: hidden;
}

.toprated-movies--caption-see-detail {
  margin: 0;
}

.toprated-movies-card-caption .toprated-movies--caption {
  background: #333333;
  width: 100%;
  height: 75px;
  bottom: -30%;
  position: absolute;
  left: 0;
  overflow: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.toprated-movies-card-caption:hover .toprated-movies--caption {
  bottom: 0;
}

.toprated-movies--mobile-button {
  display: none;
}

@media screen and (max-width: 425px) {
  .toprated-movies--sub-container {
    flex-direction: column;
  }

  .toprated-movies--sub-container-infos {
    width: auto;
    height: auto;
    margin-top: 20px;
  }

  .toprated-movies--resume {
    max-height: 6.9em;
  }

  .toprated-movies-card-caption .toprated-movies--caption {
    display: none;
  }

  .toprated-movies--mobile-button {
    display: block;
    margin: 32px auto 16px;
  }
}
